{{!-- <ul class="list films-list"> --}}
    {{#each this}}
    <li class="film-item">
        <img class="img-films" data-id="{{id}}" src="{{image}}" alt="{{title}}" />

        <h2 class="tittle-film">{{title}}</h2>
        <p class="genre-film">{{genres}} | {{reliaseDate}}<span class="rating-films">{{vote}}</span>
        </p>
    </li>
    {{/each}}
    {{!--
</ul> --}}